<div class="empty-cart-area mb-60px">
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <div class="col-md-12">
                       
                        <div class="empty-text-contant text-center">
                           <i class="lnr lnr-cart"></i>
                           <h1>Su pedido ha sido procesado con exito</h1>
                           <h1>En este momento nos comunicaremos con usted!</h1>
                           <a class="empty-cart-btn" routerLink="../shop" style="background: #ffc107; color: #000;">
                                <i class="ion-ios-arrow-left" style="color: #000;"> </i> Continuar en la tienda
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
