<div class="empty-cart-area mb-60px">
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <div class="col-md-12">
                       
                        <div class="empty-text-contant text-center">
                           <i class="lnr lnr-inbox"></i>
                           <h1>Su mensaje fue enviado</h1>
                           <h1>Gracias por escribernos!</h1>
                           <a class="empty-cart-btn" routerLink="../contact" style="background: #ffc107; color: #000;">
                                <i class="ion-ios-arrow-left" style="color: #000;"> </i> Volver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
