        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row" >
                            <div class="col-md-6 col-sm-12 col-xs-12 mb-lm-100px mb-sm-30px">
                                <div class="quickview-wrapper">
                                     <!-- slider -->
                                      <div class="gallery-top">
                                          <div class="single-slide"  > 
                                                <img class="img-responsive m-auto" src="{{_uw.imagePreviewProduct}}" alt="" >
                                          </div>
                                         <!--  <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/3.jpg" alt="">
                                          </div>
                                          <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/1.jpg" alt="">
                                          </div>
                                          <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/4.jpg" alt="">
                                          </div>
                                          <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/3.jpg" alt="">
                                          </div> -->
                                      </div>
                              <!--         <div class=" gallery-thumbs">
                                          <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/1.jpg" alt="">
                                          </div>
                                          <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/4.jpg" alt="">
                                          </div>
                                          <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/3.jpg" alt="">
                                          </div>
                                          <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/1.jpg" alt="">
                                          </div>
                                          <div class="single-slide"> 
                                                <img class="img-responsive m-auto" src="assets/assetsshadi/images/product-image/4.jpg" alt="">
                                          </div>
                                      </div> -->
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="product-details-content quickview-content">
                                    <h2 *ngIf="_uw.tixPreview!='undefined'">{{_uw.tixPreview.name}}</h2>
                                    <p class="reference">Modelo:<span> {{_uw.tixPreview.model}} </span> Marca:<span> {{_uw.tixPreview.brand}}</span> </p>
                                    <div class="pro-details-rating-wrap">
                                     <!--    <div class="rating-product">
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                        </div> -->
                                    <!--     <span class="read-review"><a class="reviews" href="index.html#">Leer opiniones (0)</a></span> -->
                                    </div>
                                    <div class="pricing-meta">
                                        <ul>
                                            <li class="price not-cut">${{_uw.tixPreview.price}} x {{_uw.tixPreview.quantity}} = ${{_uw.tixPreview.quantity*_uw.tixPreview.price}} </li>
                                        </ul>
                                    </div>
                                 <!--    <p class="quickview-para">Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p> -->
                                   <!--  <div class="pro-details-size-color">
                                        <div class="pro-details-color-wrap">
                                            <span>Color</span>
                                            <div class="pro-details-color-content">
                                                <ul>
                                                    <li class="blue"></li>
                                                    <li class="maroon active"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="pro-details-quality">
                                     <!--    <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                                        </div> -->
                                        <input type="button" value="-" (click)="minus()" class="minus">
                                            <input [(ngModel)]="_uw.tixPreview.quantity"  size="1"  [ngModelOptions]="{standalone: true}" disabled="disabled"  >
                                            <input type="button" value="+" (click)="plus()" class="plus">
                                         <div class="pro-details-cart btn-hover">
                                            <a (click)="addToCar()" style="cursor:pointer;"  data-dismiss="modal" > + al carro</a>
                                        </div>
                                    </div>
                                     <div class="pro-details-quality">
                                     <!-- 
                                        <div class="pro-details-cart2 btn-hover" >
                                            <a href="index.html#"> Comprar</a>
                                        </div> -->
                                        <!--  <div class="pro-details-cart btn-hover">
                                            <a (click)="cartCalculate()" style="cursor:pointer;"  data-dismiss="modal" > + al carro</a>
                                        </div> -->
                                    </div>
                                   <!--  <div class="pro-details-wish-com">
                                        <div class="pro-details-wishlist">
                                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>Add to wishlist</a>
                                        </div>
                                        <div class="pro-details-compare">
                                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i>Add to compare</a>
                                        </div>
                                    </div> -->
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>