        <!-- Banner Area Start -->
        <div class="banner-area mtb-60px" >
            <div class="container">
                <div class="row">
                 <!--    <div class="col-md-6 mb-lm-30px">
                        <div class="banner-wrapper">
                            <a routerLink=""><img src="assets/assetsshadi/images/banner-image/1.jpg" alt="" /></a>
                        </div>
                    </div> -->
                    <div class="col-md-12 ">
                        <div class="banner-wrapper">
                            <a routerLink="shop"><img src="assets/assetsshadi/images/banner-image/2.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End -->